@media screen and (min-width:640px){
    .box{
        max-width:700px;
    }
}
.fbox{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

}

.fitem{
    width:20%;
}
.fitem_25{
    width:25%;
}
.card{
    width:90%;
    height:90%;
    margin:0 auto;
    margin-top:5%;
    margin-bottom:5%;
    position:relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.omote ,.ura{
    position:absolute;
    width:100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility:     hidden;
}
.ura img,.omote img{
    margin-top:25%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    backface-visibility:     hidden;

}

.omote{
    border:1px #666 solid;

}
.ura{
    border:1px #666 solid;

    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.kurukuru{
    animation: kuru .5s forwards;
}
.kurukuru2{
    animation: kuru2 .5s forwards;
}
@keyframes kuru {
    100% {transform: rotateY(180deg)}

}
@keyframes kuru2 {
    100% {transform: rotateY(360deg)}

}
